<div id="@($"sticky{Enum.GetName<BarType>(Bar)?.ToLower() ?? "header"}")" class="navbar navbar-expand-lg navbar-dark bg-dark">
    Sticky @Bar component
</div>

@code {
    public enum BarType
    {
        Header = 0,
        Footer = 1
    }

    [Parameter] public BarType Bar { get; set; }
}