<div class="bg-dark container-fluid">
    <div class="row">
        <div class="col-lg-4 text-left">Start</div>
        <div class="col-lg-4 text-center">Middle</div>
        <div class="col-lg-4 text-end">End</div>
    </div>
</div>

@code {

}
