<div class="bg-dark container-fluid">
    <div class="row bg-dark-subtle">
        <div class="col text-start">@Start</div>
        <div class="col text-center">@Middle</div>
        <div class="col text-end">@End</div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? Start { get; set; }
    [Parameter] public RenderFragment? Middle { get; set; }
    [Parameter] public RenderFragment? End { get; set; }
}
