@if (HasPlayer)
{
    <h2>Welcome back!</h2>
    <p>Continue your adventure or start a new one!</p>
}
else
{
    <h2>Start Your Adventure!</h2>
    <p>An idle-ish game where you mine materials, craft items, build a ship, and explore the stars.</p>
}

<CharacterChoice />

@code {
    [Parameter] public bool HasPlayer { get; set; }
}