@if (HasPlayer)
{
    <h2>Welcome back!</h2>
    <p>Continue your journey or start a new journey!</p>
    <p>Choose your option below:</p>
}
else
{
    <h2>Start Your Adventure!</h2>
    <p>An idle-ish game where you explore space, mine materials, craft items, and explore the stars.</p>
}

<p>TODO: show the character choice component</p>

<CharacterChoice />

@code {
    [Parameter] public bool HasPlayer { get; set; }
}