@if (Show)
{
    <div class="alert alert-info alert-dismissible fade show mt-4" role="alert">
        @ChildContent
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="Dismiss"></button>
    </div>
}

@code {
    private bool _show;

    [Parameter] public bool Show 
    {
        get => _show;
        set
        {
            if (value != Show)
            {
                _show = value;
                ShowChanged?.InvokeAsync(_show);
                Console.WriteLine($"Show: {_show}");
            }
        }
    }
    [Parameter] public EventCallback<bool>? ShowChanged {get;set;}
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    public void Dismiss() => Show = false;
}
