<div class="bg-dark container-fluid">
    <div class="row">
        <div class="col text-start">Start</div>
        <div class="col text-center">Middle</div>
        <div class="col text-end">End</div>
    </div>
</div>

@code {

}
