<h3>Create New Character</h3>
<p>TODO: Allow creating a new character.</p>
<button class="btn btn-danger" @onclick="() => OnBack.InvokeAsync()">Cancel</button>
<button class="btn btn-primary" @onclick="() => CreateCharacter()">Create Character</button>

@code {
    [Parameter] public EventCallback OnBack { get; set; }
    [Parameter] public EventCallback<PlayerCharacter> OnCreate { get; set; }

    private PlayerCharacter _character = new PlayerCharacter();
    private string _charName = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _charName = Data.NewCharacterName;
        _character.Name = Data.NewCharacterName;
    }

    private void CreateCharacter()
    {
        if (string.IsNullOrWhiteSpace(_charName))
        {
            return;
        }

        _character.Name = _charName;

        OnCreate.InvokeAsync(_character);
    }
}