.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-header, .page-footer {
    flex-shrink: 0;
    position: sticky;
    z-index: 10;
}

.page-body {
    flex-grow: 1;
    overflow: auto;
}
