@page "/choosecharacter"

<PageTitle>Choose Character</PageTitle>

<h1>Create or Choose Your Character</h1>

<div class="container row">

    <CharacterSelector SlotNumber=1></CharacterSelector>

    <CharacterSelector SlotNumber=2></CharacterSelector>

    <CharacterSelector SlotNumber=3></CharacterSelector>

</div>



@code {

}
