@page "/"

@*<PageTitle>Index</PageTitle>*@

<h1>Hello, world!</h1>

Welcome to your new <button class="btn btn-primary" type="button">app.</button>

<h1>Testing</h1> 
<p>I need a long page to test the sticky header and footer. Here is a <a class="link-warning" href="#">link</a> to nowhere.</p>
<DismissibleAlert @bind-Show="@ShowAlert" @ref="_alert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is kewl.</strong>
</DismissibleAlert>
<TimerBar TimeInSeconds="5" Tick="@(() => _alert?.Dismiss())" />
<br />

<h1>Lorem Ipsum 1</h1> 
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non nibh dictum, sollicitudin arcu ac, semper tortor. Etiam lobortis consectetur nisi, sit amet sodales est consectetur eleifend. Quisque sagittis ac magna vitae tincidunt. Curabitur consequat mauris in blandit finibus. Curabitur vel nisl eget turpis cursus hendrerit. Praesent justo urna, posuere egestas mi ut, facilisis eleifend erat. Suspendisse sed massa quis neque sagittis gravida. Sed eleifend mauris vel quam viverra malesuada. Morbi mauris orci, accumsan euismod eleifend vel, iaculis eget diam. Suspendisse et leo vitae mi fringilla lobortis. Nunc facilisis purus erat, et tristique sem porta ut. Pellentesque at nisi egestas, bibendum orci ut, laoreet lectus. Donec ut magna at mi scelerisque imperdiet ut eu eros.</p>
<br />

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc pulvinar at urna a posuere. Proin vitae tortor vitae velit venenatis interdum. Quisque et posuere ligula. Vestibulum placerat libero nec malesuada dapibus. Suspendisse at augue libero. Donec pretium convallis suscipit. Suspendisse vehicula, magna non cursus malesuada, orci velit dignissim purus, consectetur condimentum tellus erat sed est. Proin rhoncus neque eu iaculis volutpat. Donec cursus ullamcorper neque, sit amet efficitur orci finibus et. Duis sed urna nunc. Mauris eu venenatis ex. Nam scelerisque eget nulla sed finibus. Phasellus condimentum aliquam erat, nec fringilla metus iaculis et. Mauris eu urna sit amet neque tristique venenatis ut in erat. Nulla facilisi.</p>
<br />

<p>Ut a libero magna. Integer dui velit, tempus et turpis a, hendrerit mattis nisl. Nam id fermentum ex. In ut lobortis massa. Cras lacus ipsum, consequat id nibh id, porta mollis arcu. Praesent non turpis ultricies, rhoncus tortor id, malesuada felis. Aenean varius faucibus imperdiet. Praesent augue tortor, venenatis quis diam ut, aliquam vehicula tortor. In commodo sit amet est sed tincidunt. Etiam libero arcu, viverra et viverra vel, ultricies non nisi. Morbi dictum placerat semper.</p>
<br />

Praesent non risus eu lacus consequat porttitor eget at arcu. Morbi eget dignissim leo. Quisque bibendum urna vel tempor convallis. Duis a magna ac eros euismod lacinia. Curabitur ac est scelerisque, lacinia sapien vitae, maximus nisl. Phasellus hendrerit volutpat risus, at tempus diam tempus sit amet. Cras tellus justo, venenatis eu aliquet eu, auctor et odio. Praesent fermentum massa a egestas auctor.
<br />

Proin eget lectus sagittis velit posuere posuere at ac augue. Phasellus porta aliquet diam, a mattis enim viverra ac. Duis cursus nisl eget aliquam efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris felis justo, venenatis eu mauris vitae, lobortis ullamcorper augue. Morbi ac mollis lacus. Ut maximus ante arcu, at tristique metus placerat a. In vulputate eget felis et consectetur. Quisque orci mi, rhoncus nec ex eget, vestibulum convallis enim. Donec a congue felis, vel congue enim. Aliquam consequat semper justo, vel fringilla lectus vehicula eget. Vivamus sagittis nulla nec nisl facilisis rutrum.
<br />
<br />

<h1>Lorem Ipsum 2</h1> 
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non nibh dictum, sollicitudin arcu ac, semper tortor. Etiam lobortis consectetur nisi, sit amet sodales est consectetur eleifend. Quisque sagittis ac magna vitae tincidunt. Curabitur consequat mauris in blandit finibus. Curabitur vel nisl eget turpis cursus hendrerit. Praesent justo urna, posuere egestas mi ut, facilisis eleifend erat. Suspendisse sed massa quis neque sagittis gravida. Sed eleifend mauris vel quam viverra malesuada. Morbi mauris orci, accumsan euismod eleifend vel, iaculis eget diam. Suspendisse et leo vitae mi fringilla lobortis. Nunc facilisis purus erat, et tristique sem porta ut. Pellentesque at nisi egestas, bibendum orci ut, laoreet lectus. Donec ut magna at mi scelerisque imperdiet ut eu eros.</p>
<br />

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc pulvinar at urna a posuere. Proin vitae tortor vitae velit venenatis interdum. Quisque et posuere ligula. Vestibulum placerat libero nec malesuada dapibus. Suspendisse at augue libero. Donec pretium convallis suscipit. Suspendisse vehicula, magna non cursus malesuada, orci velit dignissim purus, consectetur condimentum tellus erat sed est. Proin rhoncus neque eu iaculis volutpat. Donec cursus ullamcorper neque, sit amet efficitur orci finibus et. Duis sed urna nunc. Mauris eu venenatis ex. Nam scelerisque eget nulla sed finibus. Phasellus condimentum aliquam erat, nec fringilla metus iaculis et. Mauris eu urna sit amet neque tristique venenatis ut in erat. Nulla facilisi.</p>
<br />

<p>Ut a libero magna. Integer dui velit, tempus et turpis a, hendrerit mattis nisl. Nam id fermentum ex. In ut lobortis massa. Cras lacus ipsum, consequat id nibh id, porta mollis arcu. Praesent non turpis ultricies, rhoncus tortor id, malesuada felis. Aenean varius faucibus imperdiet. Praesent augue tortor, venenatis quis diam ut, aliquam vehicula tortor. In commodo sit amet est sed tincidunt. Etiam libero arcu, viverra et viverra vel, ultricies non nisi. Morbi dictum placerat semper.</p>
<br />

Praesent non risus eu lacus consequat porttitor eget at arcu. Morbi eget dignissim leo. Quisque bibendum urna vel tempor convallis. Duis a magna ac eros euismod lacinia. Curabitur ac est scelerisque, lacinia sapien vitae, maximus nisl. Phasellus hendrerit volutpat risus, at tempus diam tempus sit amet. Cras tellus justo, venenatis eu aliquet eu, auctor et odio. Praesent fermentum massa a egestas auctor.
<br />

Proin eget lectus sagittis velit posuere posuere at ac augue. Phasellus porta aliquet diam, a mattis enim viverra ac. Duis cursus nisl eget aliquam efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris felis justo, venenatis eu mauris vitae, lobortis ullamcorper augue. Morbi ac mollis lacus. Ut maximus ante arcu, at tristique metus placerat a. In vulputate eget felis et consectetur. Quisque orci mi, rhoncus nec ex eget, vestibulum convallis enim. Donec a congue felis, vel congue enim. Aliquam consequat semper justo, vel fringilla lectus vehicula eget. Vivamus sagittis nulla nec nisl facilisis rutrum.
<br />

@code {
    private DismissibleAlert _alert = default!;

    public bool ShowAlert { get; set; } = true;

    public void ToggleAlert() 
    {
        ShowAlert = !ShowAlert;
        Console.WriteLine($"ShowAlert: {ShowAlert}");
    }
}