@inherits LayoutComponentBase
@using Wbd.Pillars.Components.Navigation;
@inject IGameService _game


<div>
    <header class="fixed-top">
        <Tribar End=@_game.Version />
    </header>
    <main class="container-fluid fixed-bar-margin">
        <article class="container content px-4">
            @Body
        </article>
    </main>
    <footer class="fixed-bottom">
        <Tribar Start=@_gameSignature End=@_links />
    </footer>
</div>

@code {
    private string _gameSignature = $"{Data.AppName} by WeirdBeardDev";
    private string _links = "Wiki | Discord | Reddit | Twitch | Donate";
}