@page "/choosecharacter"
@inject ILogger<CharacterSelector> _logger

<PageTitle>Choose Character</PageTitle>

<h1>Create or Choose Your Character</h1>

<div class="container row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <CharacterSelector SlotNumber=1></CharacterSelector>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <CharacterSelector SlotNumber=2></CharacterSelector>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <CharacterSelector SlotNumber=3></CharacterSelector>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <CharacterSelector SlotNumber="4"></CharacterSelector>
    </div>
</div>



@code {
    protected override void OnInitialized()
    {
        _logger.LogInformation("ChooseCharacter Page Initialized");
        base.OnInitialized();
    }
}
