@page "/"

@inject IGameService _game

<h1>Welcome to Pillars of Creation</h1>
<br />

@if (HasPlayer)
{
    <h2>Welcome back!</h2>
    <p>Read on for recent news and updates or click here to choose your character to play.</p>
    <br>
    <button class="btn btn-danger" @onclick="DeleteAllCharactersAsync">Delete All Characters</button>
}
else
{
    <h2>Start Your Adventure!</h2>
    <button class="btn btn-primary" @onclick="CreatePlayerSlotAsync">Create a new character</button>
}
<br />
<br />
<br />
<br />

<h2>News</h2>
<p>Here is the latest news and updates for Pillars of Creation.</p>
<br>
<br>
<h3>News</h3>
TBD
<br>
<br>
<h3>Updates</h3>
TBD

@code {
    private bool HasPlayer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        HasPlayer = await _game.Player.DoesSaveExistAsync();
        if (!HasPlayer)
        {
            Console.WriteLine($"HasPlayer: {HasPlayer}");
            @* HasPlayer = true; *@
        }
        else
        {
            @* await _game.LoadAsync(); *@
        }
        return;
    }

    public async void CreatePlayerSlotAsync()
    {
        await _game.Player.CreateSlotsAsync();
        HasPlayer = true;
        StateHasChanged();
    }
    public async void DeleteAllCharactersAsync()
    {
        await _game.Player.DeleteSlotsAsync();
        HasPlayer = false;
        StateHasChanged();
    }
}