@page "/"
@using Wbd.Pillars.Components.Home;
@using Wbd.Pillars.Components.Character;

@inject IGameService _game
@inject ILogger<Index> _logger

<h1>Welcome to Pillars of Creation</h1>
<br />

<LandingOptions HasPlayer="@HasPlayer" />

<br />
<hr />
<News />

@code {
    private bool HasPlayer { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        HasPlayer = await _game.Player.DoesSaveExistAsync();
        _logger.LogInformation($"HasPlayer: {HasPlayer}");

        return;
    }

    public async Task StartGame(PlayerCharacter character)
    {
        await _game.StartGameAsync();
        // Navigate to the game page or update state as needed
        _logger.LogInformation($"Starting game with character: {character.Name}");
    }
}