@page "/"

@inject IGameService _game

Player Storage: @HasPlayer &nbsp;

@if (HasPlayer==false)
{
    <button class="btn btn-primary btn-sm" @onclick="CreatePlayerSlotAsync" type="button">Create Player Slot</button>
}
else
{
    <br />
}

<br />


@code {
    private bool HasPlayer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        HasPlayer = await _game.DoesSaveExistAsync();
        if (!HasPlayer)
        {
            Console.WriteLine($"HasPlayer: {HasPlayer}");
            await _game.CreateSaveSlotAsync();
            HasPlayer = true;
        }
        else
        {
            await _game.LoadAsync();
        }
        return;
    }

    public async void CreatePlayerSlotAsync()
    {
        await _game.SaveAsync();
        HasPlayer = true;
        StateHasChanged();
    }
}